<!-- BEGIN header -->
<header class="header">
	<div class="inner">
		<a href="#" class="logo"><img src="img/logo.svg" alt="logo"></a>
		<div class="header__meta">coming soon</div>
		<div class="header__content">
			<p>Easy to transform from day to night through effortless layering and soft flowy silhouettes, The Other Label offers timeless quality of fabric and precisely engineered finishing.</p>
			<p>Womenswear Collection 1:1 to be launched soon.</p>
			<p>STAY TUNED and subscribe to our social media accounts:</p>
			<ul class="social">
				<li><a href="#">{{mixins.icon('facebook')}}</a></li>
				<li><a href="#">{{mixins.icon('instagram')}}</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- END header -->